<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OUTPUT</title>
    <style>
body {
  background-image: url('https://www.wunc.org/sites/wunc/files/styles/x_large/public/201909/doctor-physician-white-coat-uniform-medical-assistant-stethoscope-1571983-pxhere.com_.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.login{
    font-size : 20px;
    margin-left: 20;
}
</style>
</head>
<body>

<p>Your Prediction Output is:</p>
{{ prediction_text }}
</body>
</html>
